---
- name: nginx-website | Install dependences
  yum: name=epel-release state=present
  tags:
    - nginx-install


- name: nginx-website | Install nginx
  yum: name=nginx state=present
  tags:
    - nginx-install


- name: nginx-website | Configure
  template: 
    src: nginx.conf
    dest: /etc/nginx/nginx.conf
    mode: 0444
  notify: restart nginx
  tags:
    - nginx-config


- name: nginx-website | Configure default.conf
  template:
    src: default.conf
    dest: /etc/nginx/conf.d/default.conf
  notify: restart nginx
  tags:
    - nginx-config


- name: nginx-website | Copy content
  copy:
    src: "{{ item }}"
    dest: /usr/share/nginx/html
  with_items:
    - content/index.html
    - content/ansible-logo.png

- name: nginx-website | start nginx
  service:
    name: nginx
    state: started
